{% extends 'base.html' %}

{% block content %}

    <div style="margin: 2rem; text-align: center;">

        <h1>METHOD</h1>
        <form action="/accounts/hello_world/" method="post">

            {%  csrf_token %}  {# 해킹방지, 접근 토큰 #}

            <input type="text" name="hello_world_input">

            <input type="submit" class="px-5 btn btn-dark rounded-pill">  {# p-숫자 패딩 전체 삽입(px는 x축방향만), rounded-pill 추가한 것 #}

        </form>

        {% if hello_world_output %}
        <h3>
            {{ hello_world_output.text }}
        </h3>  {# views의 context 키값 #}
        {% endif %}

    </div>

{% endblock %}