.djangoProject_header_logo {
    margin: 2rem 0;
    font-family: 'Pacifico', cursive;
}

.djangoProject_header_button {
    margin-bottom: 2rem;
}

.djangoProject_header_button {
    margin-top: 2rem;
}

.djangoProject_footer_logo {
    margin: 1.5rem 0;
    font-family: 'Pacifico', cursive;
}

.mw-500 {
    max-width: 500px;
    margin: 1rem 1.5rem;
}

.profile_image {
    width: 12rem;
    height: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}

.NNS_B {
    font-family: 'NanumSquareB', cursive;
}

.round_button {
    color: black;
    text-decoration: none;
    box-shadow: 0 0 3px black;
    border-radius: 20rem;
    padding: 0.3rem;
}

.round_button:hover {
    color: dimgrey;
}

.container div {
  width: 280px;
  height: 500px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.container .item1 {
  height: 200px;
}

.container .item4 {
  height: 800px;
}

.container .item6 {
  height: 600px;
}

.container .item11 {
  height: 400px;
}
